<div class="container">

  <div id="datasource_info">
    <h1><%= @source.title %> 
      <span>
        <a href="#" class="get"
           data-href="/sources/<%= @source.id %>/edit" 
           data-target="#datasource_info">Edit</a>
      </span>
    </h1>
    
    <h3><%= @source.url %></h3>
    <p>
      <%= @source.description %>
    </p>
  </div>

  <div id="col_info">
    <ul id="column_list">
      <% if @source.cols.each do |col| %>
        <li>
          <!-- This should be a partial -->
          <%= col.data_type %>::<%= col.title %> (<%= col.units %>) | 
          <a href="">Edit</a>
        </li>
      <% end.empty? %>
        <li>There are currently no columns</li>
      <% end %>
    </ul>
    <div id="column_new">
    </div>
    <a href="#" class="get" 
       data-href="/sources/<%= @source.id %>/cols/new" 
       data-target="#column_new">
      Add a column
    </a>
  </div>
  
  <h2>The page looks like</h2>
  <iframe src="<%= @source.url %>" style="width: 100%; height: 300px">
    Your browser doesn't support iframes
  </iframe>


  <div>
    <a href="/">Back to Dashboard</a>
  </div>
</div>
