<% %w(table_heading descr col_heading row_heading other_dims default_dim published_at units multiplier is_numeric converter).each do |field| %>
  <label for="imported_table[<%= field %>]"><%= field.gsub(/_/, " ").capitalize %>:</label><br/>
  <input type="text" name="imported_table[<%= field %>]" 
         value="<%= @imported_table.send(field) %>" /><br/>
<% end %>
<% %w(col_labels row_labels).each do |field| %>

   <% field_one = field+"_one" %>
   <% field_two = field+"_two" %>
   <% field_content = field+"_content" %>

  <input type="button" name="button" value="set" onclick="setButton('<%= field %>')" />
  <label for="imported_table[<%= field %>]"><%= field.gsub(/_/, " ").capitalize %>:</label>
  <br/>

  <textarea name="imported_table[<%= field_content %>]"><%= @imported_table.send(field_content) %></textarea>
  <input type="hidden" name="imported_table[<%= field_one %>]"
         value="<%= @imported_table.send(field_one) %>" />
  <input type="hidden" name="imported_table[<%= field_two %>]"
         value="<%= @imported_table.send(field_two) %>" />
  <br/>

<% end %>

<input type="button" name="button" value="set" onclick="setButton('data')" />
<label for="imported_table[data]">Data:</label>
<br/>

<textarea name="data_content"></textarea>
<input type="hidden" name="imported_table[data_one]"
       value="<%= @imported_table.send('data_one') %>" />
<input type="hidden" name="imported_table[data_two]"
       value="<%= @imported_table.send('data_two') %>" />
<br/>

<label for="imported_table[notes]">Notes:</label><br/>
<textarea name="imported_table[notes]"><%= @imported_table.notes %></textarea><br/>
