<h2>Edit Datasource</h2>
<form method="post" action="/datasources/<%= @datasource.id %>">
  <input type="hidden" name="_method" value="put" />

  <label for="source[title]">Title:</label><br/>
  <input type="text" name="source[title]" value="<%= @datasource.title %>" /><br/>

  <label for="source[url]">URL:</label><br/>
  <input type="text" name="source[url]" value="<%= @datasource.url %>" /><br/>

  <label for="source[content_type]">Content Type:</label><br/>
  <select name="source[content_type]">
    <option value="text/plain" <%= @datasource.content_type == 'text/plain' ? 'selected="selected"' : '' %>>text/plain</option>
    <option value="text/html" <%= @datasource.content_type == 'text/html' ? 'selected="selected"' : '' %>>text/html</option>
    <option value="text/csv" <%= @datasource.content_type == 'text/csv' ? 'selected="selected"' : '' %>>text/csv</option>
  </select><br/>

  <label for="source[description]">Description:</label><br/>
  <textarea name="source[description]"><%= @datasource.description %></textarea><br/>


  <input type="submit" value="Update" />
</form>
