<div class="container">
  <p>
    <form action="/datasources" method="post">
      <label for="url">What URI would you like to suck?</label><br/>
      <input type="text" name="source[url]" />
      <input type="submit" value="submit" />
    </form>
  </p>

  <h1>Data Sources</h1>
  <p>
    <table id="datasources">
      <tr><th>Title</th><th>Type</th><th>Tables</th><th>Action</th></tr></b>
      <% if @datasources.each do |s| %>
        <tr><td class="name">
            <a href="/datasources/<%= s.id %>/<%= s.url_type %>"><%= s.title %></a> 
          </td><td>
            <%= s.content_type %>
          </td><td class="num">
	    <%= s.imported_tables.count %>
          </td><td>
            <form method="post" action="/datasources/<%= s.id %>">
              <input type="hidden"name="_method" value="delete" />
              <div><button type="submit">Delete</button></div>
            </form>
        </td></tr>
      <% end.empty? %>
        <tr><td>There are currently no data sources in the source tracker.</td></tr>
      <% end %>
    </table>
  </p>
</div>
