<div class="container">

  <%= erb :"datasources/_source", :layout => false %>

  <div>
    <a href="/">Back to Dashboard</a>
  </div>
  
  <div>
    <div id="remote_page" class="half" style="overflow: scroll; height: 500px;">
      <%= (@doc/"body").inner_html %>
    </div>

    <div id="col_info" class="half">
      <ul id="column_list">
        <% if @datasource.cols.each do |col| %>
          <li id="column_<%= col.id %>_info">
            <!-- This should be a partial -->
            <%= col.data_type %>::<%= col.title %> (<%= col.units %>) | 
            <a href="#" rel="rest_get"
               data-action="/datasources/<%= @datasource.id %>/cols/<%= col.id %>/edit" 
               data-target="#column_<%= col.id %>_info">Edit</a>
          </li>
        <% end.empty? %>
          <li>There are currently no columns</li>
        <% end %>
      </ul>
      <div id="column_new">
      </div>
      <a href="#" rel="rest_get" 
         data-action="/datasources/<%= @datasource.id %>/cols/new" 
         data-target="#column_new">
        Add a column
      </a>
    </div>
  </div>

</div>
