<div class="container">

  <%= erb :"datasources/_source", :layout => false %>

  <div>
    <a href="/">Back to Dashboard</a>
  </div>
  
  <div>
    <div id="remote_page" class="half">
      <%= @datasource.display %>
    </div>

    <div id="table_info" class="half">
      <ul id="table_list">
        <% if @datasource.imported_tables.each do |tbl| %>
          <li id="table_<%= tbl.id %>_info">
            <!-- This should be a partial -->
            <%= tbl.is_numeric %>::<%= tbl.table_heading %> (<%= tbl.units %>) | 
            <a href="/datasources/<%= @datasource.id %>/imported_tables/<%= tbl.id %>/edit"
               data-remote="true"  
               data-update="table_<%= tbl.id %>_info">Edit</a>
          </li>
        <% end.empty? %>
          <li>There are currently no tables</li>
        <% end %>
      </ul>
      <div id="table_new">
      </div>
      <a href="/datasources/<%= @datasource.id %>/imported_tables/new"
         data-remote="true" 
         data-update="table_new">
        Add a table
      </a>
    </div>
  </div>

</div>
